.container{
text-align: center;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 2rem;
}


form{
    background-color: #ccc;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
}

h2{
    font-size: 2rem;
    color: #484d50;
}

input{
    display: block;
    width: 400px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

input:focus {
    border: 3px solid #555;
  }

button{
    width: 300px;
    height: 50px;
    font-size: 20px;
    margin-top: 50px;
    background-color:#ccc;
    border-radius: 10px;

  
}

button:hover{
    background-color:blue;
}


.erro {
    border: 3px solid red;
  }